## Задание 1
Скачайте с [сайта](https://grouplens.org/datasets/movielens/) датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

ratings_data = pd.read_csv('D://Datasets//ml-25m//ratings.csv')
ratings_data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
rating_5 = ratings_data[ratings_data['rating']==5.0]
top = rating_5['movieId'].value_counts().head(1)
top

318    39553
Name: movieId, dtype: int64

In [4]:
films_data = pd.read_csv('D://Datasets//ml-25m//movies.csv')
films_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
films_data[films_data['movieId']==top.keys()[0]]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
energy_data = pd.read_csv('D:\\Datasets\\power.csv')
energy_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
energy_data[ energy_data['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [8]:
filtered_countries = energy_data[ ((energy_data['country']=='Latvia') | (energy_data['country']=='Lithuania') |
                                (energy_data['country']=='Estonia')) & (energy_data['year']>=2005) & (energy_data['year']<=2010) &
                                ((energy_data['category']==4) | (energy_data['category']==12) | (energy_data['category']==21)) &
                                (energy_data['quantity']>=0)
                                ]
filtered_countries.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [9]:
print(format(sum(filtered_countries['quantity'])))

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [36]:
html_data = pd.read_html('https://www.finanz.ru/indeksi/sostav/s&p_500', encoding='utf8')[2]
html_data.head()

,Название ISIN,Посл. знач. Пред. закр.,Mин. Mакс.,Unnamed: 3,+/- %,Unnamed: 5,Дата Время,3 мес. +/- %,6 мес. +/- %,1 год +/- %,1 год График
0,3M US88579Y1010,"117,45 120,46","116,32 120,59",NaN,"-3,02 -2,50",NaN,14.09.2022 22:59:29,"-14,54 -10,56","-17,82 -12,64","-61,43 -33,29",NaN
1,A.O. Smith US8318652091,"52,24 54,14","51,74 54,15",NaN,"-1,90 -3,51",NaN,14.09.2022 22:59:26,"-1,78 -3,06","-9,42 -14,33","-13,78 -19,66",NaN
2,Abbott Laboratories US0028241000,"105,77 105,82","105,02 106,79",NaN,"-0,05 -0,05",NaN,14.09.2022 22:59:29,"-1,15 -1,05","-5,59 -4,90","-20,26 -15,74",NaN
3,AbbVie US00287Y1091,"139,56 138,53","138,27 140,44",NaN,"1,03 0,74",NaN,14.09.2022 22:59:30,"-1,92 -1,34","-7,68 -5,15","34,84 32,69",NaN
4,ABIOMED US0036541003,"264,39 266,39","262,65 266,82",NaN,"-2,01 -0,75",NaN,14.09.2022 22:59:29,"31,85 12,72","-4,51 -1,57","-78,92 -21,85",NaN