## Задание

Реализуйте обучение нейронной сети из одного нейрона для задачи предсказания стоимости квартир[ boston house price](https://www.kaggle.com/vikrishnan/boston-house-prices)_s или[ california housing price](https://www.kaggle.com/datasets/camnugent/california-housing-prices)s с использованием pytorchых данных

Инструкция к выполнению задания:

1. Загрузите и подготовьте данные

2. Разделите данные на test и train

3. Создать модель (объект) класса. Для создания объекта можно использовать класс Sequential

4. Обучите модель на train данных

5. Проверьте качество модели на тестовых данных

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import torch
from torch.utils.data import TensorDataset, DataLoader

In [2]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('Data/housing.csv', header=None, delimiter=r"\s+", names=column_names)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [4]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
data.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [6]:
data.shape

(506, 14)

In [7]:
features = data.drop('MEDV', axis=1)
labels = data['MEDV']
features = torch.Tensor(np.array(features))
labels = torch.Tensor(np.array(labels))

features.shape, labels.shape

(torch.Size([506, 13]), torch.Size([506]))

In [8]:
dataset = TensorDataset(features, labels)

In [9]:
train_size = int(0.8 * len(dataset))
test_size = len(dataset) - train_size
train_dataset, test_dataset = torch.utils.data.random_split(dataset, [train_size, test_size])

In [10]:
len(test_dataset)

102

In [11]:
model = torch.nn.Sequential(torch.nn.Linear(features.shape[1], 1))
torch.nn.init.xavier_uniform_(model[0].weight)
model

Sequential(
  (0): Linear(in_features=13, out_features=1, bias=True)
)

In [12]:
batch_size = 8
data_iter = DataLoader(train_dataset, batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

# Read a batch to see how it works
for X, y in data_iter:
    print(X, '\n', y)
    break

tensor([[1.4051e+01, 0.0000e+00, 1.8100e+01, 0.0000e+00, 5.9700e-01, 6.6570e+00,
         1.0000e+02, 1.5275e+00, 2.4000e+01, 6.6600e+02, 2.0200e+01, 3.5050e+01,
         2.1220e+01],
        [1.2802e+01, 0.0000e+00, 1.8100e+01, 0.0000e+00, 7.4000e-01, 5.8540e+00,
         9.6600e+01, 1.8956e+00, 2.4000e+01, 6.6600e+02, 2.0200e+01, 2.4052e+02,
         2.3790e+01],
        [1.5936e-01, 0.0000e+00, 6.9100e+00, 0.0000e+00, 4.4800e-01, 6.2110e+00,
         6.5000e+00, 5.7209e+00, 3.0000e+00, 2.3300e+02, 1.7900e+01, 3.9446e+02,
         7.4400e+00],
        [6.1470e-01, 0.0000e+00, 6.2000e+00, 0.0000e+00, 5.0700e-01, 6.6180e+00,
         8.0800e+01, 3.2721e+00, 8.0000e+00, 3.0700e+02, 1.7400e+01, 3.9690e+02,
         7.6000e+00],
        [7.3671e+00, 0.0000e+00, 1.8100e+01, 0.0000e+00, 6.7900e-01, 6.1930e+00,
         7.8100e+01, 1.9356e+00, 2.4000e+01, 6.6600e+02, 2.0200e+01, 9.6730e+01,
         2.1520e+01],
        [1.0328e-01, 2.5000e+01, 5.1300e+00, 0.0000e+00, 4.5300e-01, 5.9270e+00,
         4.7200e+01, 6.9320e+00, 8.0000e+00, 2.8400e+02, 1.9700e+01, 3.9690e+02,
         9.2200e+00],
        [6.6351e-01, 2.0000e+01, 3.9700e+00, 0.0000e+00, 6.4700e-01, 7.3330e+00,
         1.0000e+02, 1.8946e+00, 5.0000e+00, 2.6400e+02, 1.3000e+01, 3.8329e+02,
         7.7900e+00],
        [1.6439e-01, 2.2000e+01, 5.8600e+00, 0.0000e+00, 4.3100e-01, 6.4330e+00,
         4.9100e+01, 7.8265e+00, 7.0000e+00, 3.3000e+02, 1.9100e+01, 3.7471e+02,
         9.5200e+00]])
 tensor([17.2000, 10.8000, 24.7000, 30.1000, 11.0000, 19.6000, 36.0000, 24.5000])

In [13]:
loss = torch.nn.MSELoss(reduction='mean')
trainer = torch.optim.SGD(model.parameters(), lr=1e-8, maximize=False)

In [14]:
len(test_dataset)

102

In [15]:
num_epochs = 100
for epoch in range(1, num_epochs + 1):
    for X, y in data_iter:
        trainer.zero_grad()
        l = loss(model(X).reshape(-1), y)
        #print(model(X).reshape(-1), y)
        l.backward()
        trainer.step()
    test_loss = 0.0
    with torch.no_grad():
        for X_test, y_test in test_dataset:
            output = model(X_test).reshape(-1)
            test_loss += loss(output, y_test).item()
    l /= len(test_dataset)
    if epoch % 5 == 0:
        print('epoch %d, loss: %f' % (epoch, l.item()),'|\tw', model[0].weight.data, '|\tb', model[0].bias.data)

epoch 5, loss: 60.600796 |	w tensor([[-0.2196,  0.1346, -0.0591, -0.6012,  0.5083, -0.2807,  0.1961,  0.4521,
         -0.3407, -0.2474, -0.0031,  0.1833,  0.0753]]) |	b tensor([-0.1730])
epoch 10, loss: 14.100478 |	w tensor([[-0.2180,  0.1343, -0.0570, -0.6012,  0.5084, -0.2800,  0.2059,  0.4523,
         -0.3379, -0.1686, -0.0009,  0.2076,  0.0773]]) |	b tensor([-0.1729])
epoch 15, loss: 6.541384 |	w tensor([[-0.2171,  0.1332, -0.0562, -0.6012,  0.5084, -0.2800,  0.2079,  0.4521,
         -0.3365, -0.1402, -0.0007,  0.1959,  0.0779]]) |	b tensor([-0.1729])
epoch 20, loss: 2.694134 |	w tensor([[-0.2163,  0.1320, -0.0557, -0.6012,  0.5084, -0.2801,  0.2083,  0.4519,
         -0.3355, -0.1229, -0.0009,  0.1794,  0.0782]]) |	b tensor([-0.1729])
epoch 25, loss: 13.109694 |	w tensor([[-0.2157,  0.1310, -0.0554, -0.6012,  0.5084, -0.2802,  0.2084,  0.4517,
         -0.3346, -0.1094, -0.0011,  0.1631,  0.0783]]) |	b tensor([-0.1729])
epoch 30, loss: 2.909895 |	w tensor([[-0.2151,  0.1300, -0.0551, -0.6012,  0.5084, -0.2803,  0.2083,  0.4515,
         -0.3338, -0.0975, -0.0013,  0.1484,  0.0784]]) |	b tensor([-0.1729])
epoch 35, loss: 6.897697 |	w tensor([[-0.2146,  0.1292, -0.0548, -0.6012,  0.5084, -0.2804,  0.2082,  0.4514,
         -0.3331, -0.0868, -0.0015,  0.1356,  0.0784]]) |	b tensor([-0.1729])
epoch 40, loss: 4.341456 |	w tensor([[-0.2142,  0.1285, -0.0546, -0.6012,  0.5084, -0.2805,  0.2081,  0.4512,
         -0.3324, -0.0775, -0.0016,  0.1240,  0.0785]]) |	b tensor([-0.1730])
epoch 45, loss: 5.334531 |	w tensor([[-0.2138,  0.1280, -0.0544, -0.6012,  0.5084, -0.2806,  0.2079,  0.4511,
         -0.3319, -0.0691, -0.0018,  0.1138,  0.0785]]) |	b tensor([-0.1730])
epoch 50, loss: 7.358211 |	w tensor([[-0.2134,  0.1274, -0.0542, -0.6012,  0.5084, -0.2806,  0.2077,  0.4510,
         -0.3314, -0.0617, -0.0019,  0.1046,  0.0785]]) |	b tensor([-0.1730])
epoch 55, loss: 6.940337 |	w tensor([[-0.2131,  0.1270, -0.0541, -0.6012,  0.5084, -0.2806,  0.2074,  0.4509,
         -0.3309, -0.0552, -0.0020,  0.0964,  0.0785]]) |	b tensor([-0.1730])
epoch 60, loss: 0.823049 |	w tensor([[-0.2128,  0.1266, -0.0539, -0.6012,  0.5084, -0.2807,  0.2071,  0.4508,
         -0.3305, -0.0493, -0.0021,  0.0892,  0.0784]]) |	b tensor([-0.1730])
epoch 65, loss: 0.674612 |	w tensor([[-0.2126,  0.1263, -0.0538, -0.6012,  0.5084, -0.2807,  0.2067,  0.4507,
         -0.3301, -0.0441, -0.0022,  0.0828,  0.0783]]) |	b tensor([-0.1730])
epoch 70, loss: 2.485631 |	w tensor([[-0.2124,  0.1261, -0.0538, -0.6012,  0.5084, -0.2807,  0.2064,  0.4507,
         -0.3298, -0.0395, -0.0023,  0.0771,  0.0783]]) |	b tensor([-0.1730])
epoch 75, loss: 1.721633 |	w tensor([[-0.2122,  0.1259, -0.0537, -0.6012,  0.5084, -0.2807,  0.2060,  0.4506,
         -0.3295, -0.0354, -0.0023,  0.0721,  0.0782]]) |	b tensor([-0.1730])
epoch 80, loss: 3.070930 |	w tensor([[-0.2120,  0.1257, -0.0536, -0.6012,  0.5084, -0.2808,  0.2056,  0.4506,
         -0.3293, -0.0317, -0.0024,  0.0676,  0.0781]]) |	b tensor([-0.1730])
epoch 85, loss: 1.164609 |	w tensor([[-0.2118,  0.1256, -0.0536, -0.6012,  0.5084, -0.2808,  0.2052,  0.4505,
         -0.3290, -0.0286, -0.0025,  0.0636,  0.0780]]) |	b tensor([-0.1730])
epoch 90, loss: 1.008781 |	w tensor([[-0.2117,  0.1255, -0.0536, -0.6012,  0.5084, -0.2808,  0.2048,  0.4505,
         -0.3288, -0.0257, -0.0025,  0.0601,  0.0779]]) |	b tensor([-0.1730])
epoch 95, loss: 1.458020 |	w tensor([[-0.2116,  0.1254, -0.0536, -0.6012,  0.5084, -0.2808,  0.2044,  0.4505,
         -0.3286, -0.0232, -0.0025,  0.0569,  0.0777]]) |	b tensor([-0.1730])
epoch 100, loss: 0.990587 |	w tensor([[-0.2115,  0.1254, -0.0536, -0.6012,  0.5084, -0.2808,  0.2039,  0.4504,
         -0.3284, -0.0209, -0.0026,  0.0542,  0.0776]]) |	b tensor([-0.1730])

In [16]:
model.eval()  # Переводим модель в режим оценки
test_loss = 0.0

# Итерируемся по тестовым данным
with torch.no_grad():  # Градиенты не нужны для оценки
    for inputs, targets in test_loader:
        # Прогнозируем выходные значения
        outputs = model(inputs)
        
        # Вычисляем потери для текущего пакета
        test_loss += loss(outputs, targets).item()

# Вычисляем среднее значение потерь на тестовом наборе данных
average_test_loss = test_loss / len(test_loader)

print('Average Test Loss:', average_test_loss)

Average Test Loss: 194.63382163414587