# **Задание 1**
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.

In [ ]:
word = 'testing'

if len(word) % 2 != 0:
    print(word[len(word) // 2])
else:
    print(word[(len(word)//2)-1:(len(word)//2)+1])

t

# **Задание 2**
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [ ]:
sum_num = 0
while num != 0:
    num = float(input('Введите число: '))
    sum_num += num
print(sum_num)

Введите число: 5
Введите число: 5
Введите число: 5
Введите число: 5
Введите число: 0
20.0

# **Задание 3**
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls):
    boys.sort()
    girls.sort()
    print('Идеальные пары:')
    for i in range(len(boys)):
      print(f'{boys[i]} и {girls[i]}')
else:
    print('Внимание, кто-то может остаться без пары!')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

# **Задание 4**
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

In [ ]:
import numpy as np

countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for i in range(len(countries_temperature)):
    print(countries_temperature[i][0], ' ', (np.mean(countries_temperature[i][1]) - 32) * 5/9)

Thailand   23.85714285714285
Germany   13.799999999999999
Russia   3.714285714285717
Poland   11.999999999999996

# **Задание 5 (необязательное)**
Дан поток логов по количеству просмотренных страниц для каждого пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [ ]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]
users, views, users_views, count_views = [], [], [], 0
# получаем список уникальных пользователей
for date in stream:
    date = date.split(',')
    del date[0]
    users_views.append(date)
    if date[0] not in users:
        users.append(date[0])
        
# получаем сумму просмотров для каждого пользователя
#for user in users:
#    for i in range(len(users_views)):
 #       if user == users_views[i][0]:
#            count_views += int(users_views[i][1])
#    views.append(count_views)
#    count_views = 0

print(users, views)

['user1', 'user2', 'user3', 'user4'] [21, 7, 14, 51]

In [ ]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]
users, views = [], 0
# получаем список уникальных пользователей и считаем общее количество просмотров
for date in stream:
    date = date.split(',')
    del date[0]
    views += int(date[1])
    if date[0] not in users:
        users.append(date[0])
print(views/len(users))

23.25

# **Задание 6 (необязательное)**
Необходимо у пользователя запрашивать набор чисел разделенных пробелом. В результате в отсортированном порядке должны выводиться числа, которые повторяются в вводе более одного раза.

In [ ]:
numbers = input().split()
l_num, not_uniq = [], []
for num in numbers:
    if num in not_uniq:
        continue
    elif num in l_num:
        not_uniq.append(num)
    else:
        l_num.append(num)
not_uniq.sort()
print(*not_uniq)

1 2 1 3 1 4 1 5 1 6 2 4 9 7 6
1 2 4 6