## Домашнее задание к лекции "Базовые понятия статистики"
Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

### Задание 1. Загрузка данных
Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: 

    surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D://Datasets//horse_data.csv', header=None, na_values='?').iloc[:, [0,1,3,4,5,6,10,22]]
col_names = ['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']
df.columns = col_names
df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [4]:
df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [5]:
def stat(column):
    """
    Функция выводит базовые статистики и выбросы
    """
    
    print(f'Среднее значение столбца {column.name} - {column.mean()}')
    print(f'Медианное значение столбца {column.name} - {column.median()}')
    print(f'Модальное значение столбца {column.name} - {column.mode()[0]}')
    print(f'Стандартное отклонение столбца {column.name} - {column.std()}')
    print(f'Дисперсия столбца {column.name} - {column.var()}')
    
    
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]
    
    if list(outliers[~outliers.isna()]):
        print('Выбросы:')
        print(outliers[~outliers.isna()])

In [6]:
stat(df['surgery?'])

Среднее значение столбца surgery? - 1.3979933110367893
Медианное значение столбца surgery? - 1.0
Модальное значение столбца surgery? - 1.0
Стандартное отклонение столбца surgery? - 0.49030464432881815
Дисперсия столбца surgery? - 0.24039864425040888

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

In [7]:
stat(df['Age'])

Среднее значение столбца Age - 1.64
Медианное значение столбца Age - 1.0
Модальное значение столбца Age - 1
Стандартное отклонение столбца Age - 2.1739719055576163
Дисперсия столбца Age - 4.726153846153814
Выбросы:
3      9
9      9
13     9
16     9
23     9
39     9
41     9
55     9
74     9
75     9
82     9
103    9
109    9
135    9
191    9
212    9
227    9
229    9
244    9
252    9
255    9
262    9
275    9
287    9
Name: Age, dtype: int64

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

In [8]:
df['Age'].value_counts()

1    276
9     24
Name: Age, dtype: int64

In [9]:
"""
т.к., согласно описанию, столбец Age может содержать только значения '1' или '2',
можно предположить,что в данных ошибка и 24 значения '9' на самом деле являются значениями '2'
"""
df['Age'] = df['Age'].replace(9, 2)
stat(df['Age'])

Среднее значение столбца Age - 1.08
Медианное значение столбца Age - 1.0
Модальное значение столбца Age - 1
Стандартное отклонение столбца Age - 0.27174648819470204
Дисперсия столбца Age - 0.07384615384615334
Выбросы:
3      2
9      2
13     2
16     2
23     2
39     2
41     2
55     2
74     2
75     2
82     2
103    2
109    2
135    2
191    2
212    2
227    2
229    2
244    2
252    2
255    2
262    2
275    2
287    2
Name: Age, dtype: int64

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

In [10]:
stat(df['rectal temperature'])

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

Среднее значение столбца rectal temperature - 38.16791666666669
Медианное значение столбца rectal temperature - 38.2
Модальное значение столбца rectal temperature - 38.0
Стандартное отклонение столбца rectal temperature - 0.7322886641121578
Дисперсия столбца rectal temperature - 0.5362466875871686
Выбросы:
20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: rectal temperature, dtype: float64

In [11]:
stat(df['pulse'])

Среднее значение столбца pulse - 71.91304347826087
Медианное значение столбца pulse - 64.0
Модальное значение столбца pulse - 48.0
Стандартное отклонение столбца pulse - 28.630556660735003
Дисперсия столбца pulse - 819.7087747035575
Выбросы:
3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: pulse, dtype: float64

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

In [12]:
stat(df['respiratory rate'])

Среднее значение столбца respiratory rate - 30.417355371900825
Медианное значение столбца respiratory rate - 24.5
Модальное значение столбца respiratory rate - 20.0
Стандартное отклонение столбца respiratory rate - 17.642231385134664
Дисперсия столбца respiratory rate - 311.24832824663054
Выбросы:
3      84.0
39     96.0
41     72.0
82     80.0
84     80.0
103    68.0
106    96.0
120    66.0
125    68.0
186    90.0
208    80.0
229    70.0
244    88.0
255    84.0
265    68.0
269    90.0
295    70.0
Name: respiratory rate, dtype: float64

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

In [13]:
stat(df['temperature of extremities'])

Среднее значение столбца temperature of extremities - 2.348360655737705
Медианное значение столбца temperature of extremities - 3.0
Модальное значение столбца temperature of extremities - 3.0
Стандартное отклонение столбца temperature of extremities - 1.0450536920112758
Дисперсия столбца temperature of extremities - 1.0921372191863987

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

In [14]:
stat(df['pain'])

Среднее значение столбца pain - 2.951020408163265
Медианное значение столбца pain - 3.0
Модальное значение столбца pain - 3.0
Стандартное отклонение столбца pain - 1.3079395711243502
Дисперсия столбца pain - 1.710705921712949

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

In [15]:
stat(df['outcome'])

Среднее значение столбца outcome - 1.5518394648829432
Медианное значение столбца outcome - 1.0
Модальное значение столбца outcome - 1.0
Стандартное отклонение столбца outcome - 0.7371869448054933
Дисперсия столбца outcome - 0.5434445915916574

C:\Users\fight\AppData\Local\Temp\ipykernel_9288\3807253217.py:18: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  outliers = column[~column.between(lower_bound, upper_bound, inclusive=True)]

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [16]:
df.isna().apply(lambda x: x.value_counts())

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
False,299,300.0,240,276,242,244,245,299
True,1,NaN,60,24,58,56,55,1

In [17]:
df[df['outcome'].isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [18]:
# т.к. нет данных, оперировалась ли лошадь и это категориальная величина, заполним пропуск модальным значением
df['surgery?'] = df['surgery?'].fillna(df['surgery?'].mode()[0])

In [19]:
# т.к. среднее и медианное значение столбца rectal temperature близки, заполним пропуски медианным значением
df['rectal temperature'] = df['rectal temperature'].fillna(df['rectal temperature'].median())

In [20]:
df.groupby('Age')['pulse'].median()

Age
1     60.0
2    124.0
Name: pulse, dtype: float64

In [21]:
# т.к. значение пульса зависит от возраста, заполним пропуски медианным значением с группировкой по возрастной категории
df['pulse'] = df['pulse'].fillna(df.groupby('Age')['pulse'].transform('median'))

In [22]:
df.groupby('Age')['respiratory rate'].median()

Age
1    24.0
2    49.0
Name: respiratory rate, dtype: float64

In [23]:
# т.к. значение respiratory rate зависит от возраста, заполним пропуски медианным значением с группировкой по возрастной категории
df['respiratory rate'] = df['respiratory rate'].fillna(df.groupby('Age')['respiratory rate'].transform('median'))

In [24]:
# т.к. temperature of extremities - категориальная величина, заполним пропуск модальным значением
df['temperature of extremities'] = df['temperature of extremities'].fillna(df['temperature of extremities'].mode()[0])

In [25]:
# т.к. pain - категориальная величина, заполним пропуск модальным значением
df['pain'] = df['pain'].fillna(df['pain'].mode()[0])

In [26]:
# т.к. outcome - категориальная величина, заполним пропуск модальным значением
df['outcome'] = df['outcome'].fillna(df['outcome'].mode()[0])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory rate            300 non-null    float64
 5   temperature of extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB